@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');
body .typing-container {
  display: flex;
}
body .typing-container #feature-text {
  margin-right: 8px;
}
body .typing-container .input-cursor {
  display: inline-block;
  width: 2px;
  height: 47px;
  background-color: #ffffff;
  animation: blink 0.5s linear infinite alternate;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: '';
  z-index: 2;
}

.logos:before {
  left: 0;
}

.logos:after {
  right: 0;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
  cursor: pointer;
  filter: none !important;
}

.logos-slide {
  display: inline-block;
  animation: 43s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 20px;
  filter: grayscale(1);
}

.logos-slide img:hover {
  -webkit-filter: none !important;
}

.social {
  position: fixed;
  top: 20px;
}
.social ul {
  padding: 0px;
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  transition: all 1s;
}
.social ul li:hover {
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: #000;
}
.social ul li:hover i {
  color: #fff;
  background: rgba(0, 0, 0, 0.36);
  transform: rotate(360deg);
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 30px;
  background: #ffffff;
  transform: rotate(0deg);
}
.social a {
  color: #fff;
  text-decoration: none;
}
