@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');
body .typing-container {
  display: flex;
}
body .typing-container #feature-text {
  margin-right: 8px;
}
body .typing-container .input-cursor {
  display: inline-block;
  width: 2px;
  height: 47px;
  background-color: #ffffff;
  animation: blink 0.5s linear infinite alternate;
  text-align: center !important;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
  position: relative;
  background: rgba(255, 255, 255, 0.3);
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: '';
  z-index: 2;
}

.logos:before {
  left: 0;
}

.logos:after {
  right: 0;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 193s slide infinite linear;
}

.logos-slide img {
  height: 30px;
  margin: 0 16px;
  -webkit-filter: brightness(0.6);
  filter: brightness(0.6);
}
body {
  height: 100%;
}
section {
  height: 100vh;
}
