body {
  align-items: center;
  justify-content: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-125px * 22)); /*up 1*/
  }
}
.slider {
  height: 50px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}
.slider .slide-track {
  animation: scroll 18s linear infinite;
  display: flex;
  width: calc(125px * 43); /*up 2*/
}
.slider .slide {
  height: 50px;
  width: 125px;
}

.iconfont-wrapper span {
  overflow: hidden !important;
}

#header02-0 a {
  color: #232323;
}

body .typing-container {
  display: flex;
}
body .typing-container #feature-text {
  margin-right: 8px;
}
body .typing-container .input-cursor {
  display: inline-block;
  width: 2px;
  height: 40px;
  background-color: #232323;
  animation: blink 0.6s linear infinite alternate;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.slide img {
  filter: grayscale(0.6);
}
.slide img:hover {
  filter: grayscale(0);
  cursor: pointer;
}

.slider-container {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.6) 100%
  );
  backdrop-filter: blur(3.5px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0 0.5rem 0;
  margin-top: 4rem;
}
